# This file is used only in local dev environments and build servers. It includes services that we
# do not need in production, like MySQL and the Stripe CLI.

volumes:
  logs:
    driver: local

services:
  app:
    image: thebiggive/php:dev-8.3
    platform: linux/amd64
    ports:
      - "30030:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - consumer
    networks:
      - matchbot

  consumer:
    image: thebiggive/php:dev-8.3
    command: composer run messenger:consume:all
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - matchbot

  app-cron:
    image: thebiggive/php:dev-8.3
    command: bash -c 'while sleep 60; do (./matchbot matchbot:tick || echo "matchbot tick failed"); done'
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - matchbot

  db:
    image: mysql:8.0
    platform: linux/amd64
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "30031:3306"
    environment:
      MYSQL_DATABASE: matchbot
      MYSQL_ROOT_PASSWORD: tbgLocal123
    volumes:
      - ./docker/provision/mysql/init:/docker-entrypoint-initdb.d
    networks:
      - matchbot

  # Redis seem to have ended up with an 'interesting' release pattern where 7.0 is stable but 'older', 7.2 is stable,
  # and 7.1 tags have been pulled; yet 7.1 is the newest AWS ElastiCache version and is being recommended by AWS as
  # a performance upgrade. It's probably safe enough to use 7.0 for dev for now.
  redis:
    image: redis:7.0
    platform: linux/amd64
    networks:
      - matchbot
    ports:
      - "6379:6379"

  stripe-cli:
    image: stripe/stripe-cli:latest
    command: "listen --api-key $${STRIPE_API_KEY} --device-name $${STRIPE_DEVICE_NAME} --forward-to app:80/hooks/stripe"
    networks:
      - matchbot
    env_file:
      - stripe_cli.env
networks:
  matchbot:
    driver: bridge
