parameters:
	ignoreErrors:
		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/dependencies.php

		-
			message: '#^Access to an undefined property Stripe\\StripeObject\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Application/Actions/Donations/Update.php

		-
			message: '#^Call to function assert\(\) with true and ''If we\\''ve got as far…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Application/Actions/Donations/Update.php

		-
			message: '#^Dead catch \- MatchBot\\Domain\\DomainException\\DonationAlreadyFinalised is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Application/Actions/Donations/Update.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Application/Actions/Donations/Update.php

		-
			message: '#^Variable \$donation in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: src/Application/Actions/Donations/Update.php

		-
			message: '#^Variable \$donation in PHPDoc tag @var does not exist\.$#'
			identifier: varTag.variableNotFound
			count: 1
			path: src/Application/Actions/Hooks/StripePaymentsUpdate.php

		-
			message: '#^Unsafe access to private property MatchBot\\Application\\Auth\\DonationToken\:\:\$algorithm through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 2
			path: src/Application/Auth/DonationToken.php

		-
			message: '#^Unsafe call to private method MatchBot\\Application\\Auth\\DonationToken\:\:getSecret\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 2
			path: src/Application/Auth/DonationToken.php

		-
			message: '#^PHPDoc tag @var with type object\{sub\: object\{person_id\: string, psp_id\: string\|null, complete\?\: bool\|null\}\} is not subtype of native type stdClass\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Application/Auth/IdentityToken.php

		-
			message: '#^Unsafe access to private property MatchBot\\Application\\Auth\\IdentityToken\:\:\$algorithm through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 1
			path: src/Application/Auth/IdentityToken.php

		-
			message: '#^Unsafe call to private method MatchBot\\Application\\Auth\\IdentityToken\:\:getKey\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: src/Application/Auth/IdentityToken.php

		-
			message: '#^Unsafe call to private method MatchBot\\Application\\Auth\\IdentityToken\:\:getSecret\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: src/Application/Auth/IdentityToken.php

		-
			message: '#^PHPDoc tag @var with type Psr\\Http\\Message\\ResponseInterface is not subtype of native type Slim\\Psr7\\Response\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Application/Auth/SalesforceAuthMiddleware.php

		-
			message: '#^PHPDoc tag @param for parameter \$fakeDonationProviderForTestUseOnly contains unresolvable type\.$#'
			identifier: parameter.unresolvableType
			count: 1
			path: src/Domain/DonationService.php

		-
			message: '#^Class MatchBot\\Domain\\FundingWithdrawal has an uninitialized property \$amount\. Give it default value or assign it in the constructor\.$#'
			identifier: property.uninitialized
			count: 1
			path: src/Domain/FundingWithdrawal.php

		-
			message: '#^Class MatchBot\\Domain\\FundingWithdrawal has an uninitialized property \$createdAt\. Give it default value or assign it in the constructor\.$#'
			identifier: property.uninitialized
			count: 1
			path: src/Domain/FundingWithdrawal.php

		-
			message: '#^Class MatchBot\\Domain\\FundingWithdrawal has an uninitialized property \$donation\. Give it default value or assign it in the constructor\.$#'
			identifier: property.uninitialized
			count: 1
			path: src/Domain/FundingWithdrawal.php

		-
			message: '#^Class MatchBot\\Domain\\FundingWithdrawal has an uninitialized property \$updatedAt\. Give it default value or assign it in the constructor\.$#'
			identifier: property.uninitialized
			count: 1
			path: src/Domain/FundingWithdrawal.php

		-
			message: '#^PHPDoc tag @var with type array\{array\{campaignId\: int, campaignFundingId\: int, fundId\: int\}\} is not subtype of native type array\{array\{campaignId\: 7438, campaignFundingId\: 31205, fundId\: 25353, amount\: 500\}, array\{campaignId\: 7836, campaignFundingId\: 33424, fundId\: 27195, amount\: 336\.5\}, array\{campaignId\: 7735, campaignFundingId\: 32828, fundId\: 26696, amount\: 100\}, array\{campaignId\: 7735, campaignFundingId\: 32829, fundId\: 26697, amount\: 100\}, array\{campaignId\: 7735, campaignFundingId\: 32830, fundId\: 26698, amount\: 100\}, array\{campaignId\: 7735, campaignFundingId\: 32831, fundId\: 26699, amount\: 500\}, array\{campaignId\: 7735, campaignFundingId\: 32832, fundId\: 26700, amount\: 110\}, array\{campaignId\: 7735, campaignFundingId\: 32833, fundId\: 26701, amount\: 100\}, \.\.\.\}\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Migrations/Version20241126163843.php

		-
			message: '#^PHPDoc tag @var with type array\{array\{campaignId\: int, campaignFundingId\: int, fundId\: int, amount\: float\}\} is not subtype of native type array\{array\{campaignId\: 8289, campaignFundingId\: 36212, fundId\: 29542, amount\: 900\}\}\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Migrations/Version20241128165753.php

		-
			message: '#^PHPDoc tag @var for property MatchBot\\Tests\\Application\\Actions\\Donations\\CreateTest\:\:\$previousClock with type mixed is not subtype of native type Symfony\\Component\\Clock\\ClockInterface\.$#'
			identifier: property.phpDocType
			count: 1
			path: tests/Application/Actions/Donations/CreateTest.php

		-
			message: '#^Unsafe access to private property MatchBot\\Tests\\Application\\Actions\\Donations\\CreateTest\:\:\$somePaymentIntentArgs through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 1
			path: tests/Application/Actions/Donations/CreateTest.php

		-
			message: '#^Unsafe access to private property MatchBot\\Tests\\Application\\Actions\\Donations\\CreateTest\:\:\$somePaymentIntentResult through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 1
			path: tests/Application/Actions/Donations/CreateTest.php

		-
			message: '#^Variable \$container in PHPDoc tag @var does not match assigned variable \$testDonation\.$#'
			identifier: varTag.differentVariable
			count: 1
			path: tests/Application/Actions/Donations/GetTest.php

		-
			message: '#^Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy\<Stripe\\StripeClient\>\:\:\$customers\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Application/Actions/GetPaymentMethodsTest.php

		-
			message: '#^Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy\<Stripe\\StripeClient\>\:\:\$balanceTransactions\.$#'
			identifier: property.notFound
			count: 2
			path: tests/Application/Actions/Hooks/StripePaymentsUpdateTest.php

		-
			message: '#^Variable \$card_brand might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$country might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$donation_amount might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$fee_vat might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$processing_fee might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$processing_fee_subtotal might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$total_fee might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$total_transferred_to_charity might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Variable \$with_gift_aid might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: tests/Application/Fees/WebsiteExamplesCalculatorTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: tests/Application/Matching/AdapterTest.php

		-
			message: '#^Parameter \#1 \$callBack of method MatchBot\\Tests\\Application\\Matching\\ArrayMatchingStorage\:\:setPreIncrCallBack\(\) expects Closure\(string\)\: void, Closure\(string\)\: MatchBot\\Tests\\Application\\Matching\\ArrayMatchingStorage given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Application/Matching/AdapterTest.php

		-
			message: '#^Strict comparison using \=\=\= between \-220 and \-220 will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: tests/Application/Matching/AdapterTest.php

		-
			message: '#^Strict comparison using \=\=\= between 39\.9 and 39\.9 will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: tests/Application/Matching/AdapterTest.php

		-
			message: '#^Strict comparison using \=\=\= between 62\.53 and 62\.53 will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: tests/Application/Matching/AdapterTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Application/Matching/AllocatorTest.php

		-
			message: '#^Loose comparison using \=\= between 4 and 4 will always evaluate to true\.$#'
			identifier: equal.alwaysTrue
			count: 1
			path: tests/Application/Matching/AllocatorTest.php

		-
			message: '#^Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy\<Stripe\\StripeClient\>\:\:\$balanceTransactions\.$#'
			identifier: property.notFound
			count: 4
			path: tests/Application/Messenger/Handler/StripePayoutHandlerTest.php

		-
			message: '#^Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy\<Stripe\\StripeClient\>\:\:\$charges\.$#'
			identifier: property.notFound
			count: 3
			path: tests/Application/Messenger/Handler/StripePayoutHandlerTest.php

		-
			message: '#^Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy\<Stripe\\StripeClient\>\:\:\$payouts\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Application/Messenger/Handler/StripePayoutHandlerTest.php

		-
			message: '#^Property Stripe\\ConfirmationToken\:\:\$payment_method_preview \(Stripe\\StripeObject\|null\) does not accept array\<string, array\<string, string\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Domain/DonationServiceTest.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Domain/DonationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Domain/DonationTest.php

		-
			message: '#^Strict comparison using \=\=\= between 3 and 3 will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: tests/Domain/DonationTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''DateTime'' and DateTime will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Domain/FundRepositoryTest.php

		-
			message: '#^Match expression does not handle remaining value\: array$#'
			identifier: match.unhandled
			count: 1
			path: tests/Domain/FundRepositoryTest.php

		-
			message: '#^@dataProvider amountsToSummarise related method must be public\.$#'
			identifier: phpunit.dataProviderPublic
			count: 1
			path: tests/Domain/FundTest.php

		-
			message: '#^Method MatchBot\\Tests\\Domain\\FundTest\:\:amountsToSummarise\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: tests/Domain/FundTest.php

		-
			message: '#^PHPDoc tag @var with type array\{array\{amountAvailable\: MatchBot\\Domain\\Money, expectedUsedAmount\: MatchBot\\Domain\\Money, totalAmount\: MatchBot\\Domain\\Money\}\} is not subtype of native type array\{array\{totalAmount\: MatchBot\\Domain\\Money, amountAvailable\: MatchBot\\Domain\\Money, expectedUsedAmount\: MatchBot\\Domain\\Money\}, array\{totalAmount\: MatchBot\\Domain\\Money, amountAvailable\: MatchBot\\Domain\\Money, expectedUsedAmount\: MatchBot\\Domain\\Money\}, array\{totalAmount\: MatchBot\\Domain\\Money, amountAvailable\: MatchBot\\Domain\\Money, expectedUsedAmount\: MatchBot\\Domain\\Money\}, array\{totalAmount\: MatchBot\\Domain\\Money, amountAvailable\: MatchBot\\Domain\\Money, expectedUsedAmount\: MatchBot\\Domain\\Money\}\}\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/Domain/FundTest.php
