<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"

>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Migrations</directory>
      <file>./src/Client/StubStripeClient.php</file>
    </exclude>
    <report>
      <clover outputFile="coverage.xml" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="test" force="true" />
    <env name="BASE_URI" value="https://unit-test-fake-subdomain.thebiggive.org.uk" force="true"/>
    <env name="SALESFORCE_API_BASE" value="https://unit-test-fake-sf-sub.thebiggive.org.uk" force="true"/>
    <env name="ID_BASE_URI" value="https://unit-test-fake-id-sub.thebiggivetest.org.uk" force="true"/>
    <env name="JWT_DONATION_SECRET" value="some_secret_must_be_32_chars_lng" force="true"/>
    <env name="JWT_ID_SECRETS" value="[&quot;some_secret_must_be_32_chars_lng&quot;]" force="true"/>
    <env name="LOW_PRIORITY_MESSENGER_TRANSPORT_DSN" value="in-memory://" force="true"/>
    <env name="MAX_CREATES_PER_IP_PER_5M" value="1" force="true" />
    <env name="MESSENGER_TRANSPORT_DSN" value="in-memory://" force="true"/>
    <env name="MYSQL_HOST" value="dummy-mysql-hostname" force="true"/>
    <env name="REDIS_HOST" value="dummy-redis-hostname" force="true"/>
    <env name="SALESFORCE_SECRET_KEY" value="topsecret" force="true"/>
    <env name="FRIENDLY_CAPTCHA_SITE_KEY" value="dummy_site_key" force="true" />
    <env name="FRIENDLY_CAPTCHA_SECRET_KEY" value="dummy_secret_key" force="true"/>
    <env name="SALESFORCE_CLIENT_TIMEOUT" value="" force="false"/>
    <env name="MAILER_BASE_URI" value="" force="false"/>
    <env name="MAILER_SEND_SECRET" value="" force="false"/>
    <env name="MYSQL_SCHEMA" value="" force="false"/>
    <env name="MYSQL_USER" value="" force="false"/>
    <env name="MYSQL_PASSWORD" value="" force="false"/>
    <env name="SLACK_CHANNEL" value="" force="false"/>
    <env name="SLACK_API_TOKEN" value="xoxb-**-test" />
    <env name="STRIPE_SECRET_KEY" value="sk_test_unitTestFakeKey" force="true"/>
    <env name="STRIPE_WEBHOOK_SIGNING_SECRET" value="whsec_test_unitTestFakeKey" force="true"/>
    <env name="STRIPE_CONNECT_WEBHOOK_SIGNING_SECRET" value="whsec_test_unitTestFakeConnectKey" force="true"/>
    <env name="WEBHOOK_DONATION_SECRET" value="unitTestCchSecret" force="true"/>
    <env name="ACCOUNT_MANAGEMENT_BASE_URI" value="https://unit-test-fake-donate.thebiggive.org.uk" />
  </php>
</phpunit>
